{% extends 'base.html'%}
{% load static%}
{% block content%}
<a href="{% url 'listing'%}" style="padding: 10px;margin:10;color:blue;top:10px">  &laquo; &laquo; &laquo;  Go back</a>
<div class="retrieves">
    <div class="subretrieves">
        
        <img src="{{homesretrieved.Image.url}}" ></img>
        <br></br>
        
        <div style="float: left;width: 49%;text-align: center;
        background-color: beige;border-radius: 20px;">
            <br>
            <br>
            <h3 style="color: blue;">A   {{homesretrieved.Sqr_footage}}ft {{homesretrieved.Hometype}}  in {{homesretrieved.Location}}</h3>
               <p><i class="fa fa-map-marker"></i>  {{homesretrieved.Location}}, Kenya</p>
            <br>
            <h1 style="color: darkblue;">@ ${{homesretrieved.Price}}</h1>
            <br>
            <br>
            
            
        </div> 
        <div style="float: right;width:49%">
            <h2>Basic info:</h2>
            <table>
                <tr><th>Location</th><td>{{homesretrieved.Location}}</td></tr>
                <tr><th>Price</th><td>${{homesretrieved.Price|floatformat:2}}</td></tr>
                <tr><th>No. bathrooms</th><td>{{homesretrieved.Bathrooms}}</td></tr>
                <tr><th>No. bedrooms</th><td>{{homesretrieved.Bedrooms}}</td></tr>
                <tr><th>Sqr_footage</th><td>{{homesretrieved.Sqr_footage|floatformat:2}}</td></tr>
                
                
            </table>

        </div>
        
    </div>
             
</div>
<div class="contact">
    <h4>Contact us for a viewing schedule </h4>
<a href="tel:+254745323941" ><i class="fa fa-phone "></i></a> 
<a href="https://api.whatsapp.com/send?phone=745323941" > <i class="fa fa-whatsapp"></i></a>
<a href="mailto:ericqoh180@gmail.com"><i class="fa fa-envelope" ></i></a>
</div>
<div style="padding: 50px;">
    <h3 style="color:brown"> More details  &raquo; &raquo; </h3>
    <p>{{homesretrieved.Text}}</p>
</div>    

{% endblock content%}
        

