{% extends "base.html" %}
{%load static%}
{%block content%}
<section style="display: flex;align-items: center;justify-content: space-between;
padding: 10px 50px;background-color: aliceblue;color: black;">
    <div>
    
        <table>
            <h1 style="color:blue;font-family:'Segoe UI', Tahoma, Geneva, Verdana, 
            sans-serif;text-decoration:wavy">Schedules</h1>
            <hr>
            <tr><th>Name</th><th>Date</th><th>Time</th><th>Email</th><th>Phone</th><th>Location</th> </tr>
            {% for notification in notifications%}
            <tr><td>{{notification.Name}}</td><td>{{notification.Date}}</td><td>{{notification.Time}}</td>
            <td>{{notification.Email}}</td><td>{{notification.Phone}}</td><td>{{notification.Location}}</td>
            <td><a href="/ndelete/{{notification.id}}/delete/"> <i class="fa fa-trash"></i> </a> </td></tr>

        {%endfor%}
        </table>
    </div>
    <div>   

    
        <h1 style="color:blue;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-decoration:wavy">Contacts</h1>
       <hr>
        {%for message in messages%}
        <div style="border-bottom: 1px solid rebeccapurple;">
        <p><b>Email:</b>  {{message.email}}</p><p><b>Subject:</b>  {{message.subject}}</p><p><b>Text:</b>  {{message.text}}</p>
        </div>
        {%endfor%}
    </div>    
    
</section>
{%endblock content%}